<div class="form_content_rsvp">
<%= form_with(model: gift, local: true) do |form| %>
  <% if gift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gift.errors.count, "error") %> <%= I18n.t "gifts.error_message" %></h2>

      <ul>
      <% gift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_section">
      <div class="left12">
        <div class="form_row_full">
      <label><%= I18n.t "gifts.amount" %></label>
      <%= form.number_field :amount, id: :gift_amount, class: 'form_input required' %>
      </div>
    </div>

      <div class="left12_last">
        <div class="form_row_full">
        <label><%= I18n.t "gifts.currency" %></label>
        <div class="select_container">
        <%= form.select :currency, [["RUB", "rub"], ["NOK", "nok"], ["GBP", "gbp"], ["USD", "usd"]], id: :gift_currency %>
        </div>
        </div>
      </div>

      <div class="full_width">
        <center>
          <%= form.submit t("gifts.payment_button"), class: 'form_submit_contact'  %>
        </center>
      </div>
 </div>
<% end %>
</div>
