<div class="section_centered">

   <h3>You are giving <%= @gift.amount %> <%= @gift.currency %>. The amount will be converted to USD.</h3>

   <%= form_tag charges_path(gift: @gift) do %>
     <center>
       <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
             data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
             data-description="Gift for Annie & Rafid"
             data-amount="<%= @amount %>"
             data-locale="auto"></script>
      </center>
   <% end %>

</div>
