<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @gift.amount %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @gift.currency %>
</p>

<%= link_to 'Edit', edit_gift_path(@gift) %> |
<%= link_to 'Back', gifts_path %>
