<header class="header">
  <div class="title_container">
      <% if I18n.locale == :en %>
        <div class="title_up"><%= t "home.hero.annie" %></div>
        <div class="title_down">&amp;<%= t "home.hero.rafid" %></div>
      <% else %>
        <div class="title_up" style="font-family: Lobster; font-weight: 100"><%= t "home.hero.annie" %></div>
        <div class="title_down" style="font-family: Lobster">&amp;<%= t "home.hero.rafid" %></div>
      <% end %>
       <div class="title_date">12.08.2017</div>
       <h1 style="margin-top: 50px"><a href="#about_home"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a></h1>
  </div>
</header>


<div class="content">
  <!-- About START -->
  <div id="about_home" class="section_centered">
    <div class="centered_title">
      <h2 style="font-family: Ubuntu; margin-top: -60px"><%= I18n.t "home.about.title.hey" %></h2>
    </div>
    <div class="about_section">
      <div class="about_pic_container">
        <div class="about_pic" style="margin-top: -40px">
          <%= image_tag 'together.jpg' %>
        </div>
      </div>
      <h3 style="font-size: 40px"><%= I18n.t "home.about.subtitle" %></h3>
      <p style="text-align: center; font-size: 18px"><%= t "home.about.text" %></p>
      <div id="where" style="margin-top: 15px">
        <h3 <% if I18n.locale == :ru %> style="font-family: Ubuntu" <% end %> > <span <% if I18n.locale == :ru %> style="font-family: Yeseva One" <% end %> > <%= I18n.t "home.about.where.q" %> </span> <span style="color: #ef6350; font-weight: 400; font-size: 24px"> <%= t "home.about.where.a" %></span></h3>
      </div>
      <div id="when" style="margin-top: -50px">
        <h3 <% if I18n.locale == :ru %> style="font-family: Ubuntu" <% end %> > <span <% if I18n.locale == :ru %> style="font-family: Yeseva One" <% end %> > <%= I18n.t "home.about.when.q" %> </span> <span style="color: #ef6350; font-weight: 400; font-size: 24px"> <%= t "home.about.when.a" %></span></h3>
      </div>
      <div id="some_details">
        <h3><%= I18n.t "home.about.some_details.title" %></h3>
        <p><%= t "home.about.some_details.text" %> <%= link_to t("home.about.some_details.here"), '#party', style: "font-weight: 700" %></p>
      </div>
      <div id="some_details">
        <h3><%= I18n.t "home.about.awesome.title" %></h3>
        <% if I18n.locale == :en %>
          <p><%= t "home.about.awesome.text" %> <%= link_to t("home.about.awesome.here"), '/en/rsvp', style: "font-weight: 700" %></p>
        <% else %>
          <p><%= t "home.about.awesome.text" %> <%= link_to t("home.about.awesome.here"), '/ru/rsvp', style: "font-weight: 700" %></p>
        <% end %>
      </div>
      <div id="some_details">
        <% if I18n.locale == :en %>
          <h3><%= I18n.t "home.about.gift.title" %></h3>
          <p><%= t "home.about.gift.text" %> <%= link_to t("home.about.gift.this_page"), 'gift', style: "font-weight: 700" %> <%= I18n.t "home.about.gift.smiley" %></p>
        <% else %>
          <h3><%= I18n.t "home.about.gift.title" %></h3>
          <p><%= t "home.about.gift.part1" %> <strong><%= t "home.about.gift.highlight" %></strong> <%= t "home.about.gift.part2" %> <%= link_to t("home.about.gift.here"), 'gift', style: "font-weight: 700" %></p>
        <% end %>
      </div>
      <div id="some_details">
        <h3><%= I18n.t "home.about.guestbook.title" %></h3>
        <% if I18n.locale == :en %>
          <p><%= t "home.about.guestbook.text" %> <%= link_to t("home.about.guestbook.guestbook"), guestbook_path, style: "font-weight: 700" %> <%= I18n.t "home.about.guestbook.smiley" %></p>
        <% else %>
          <p><%= t "home.about.guestbook.text" %> <%= link_to t("home.about.guestbook.here"), guestbook_path, style: "font-weight: 700" %> <%= I18n.t "home.about.guestbook.rest" %> <%= I18n.t "home.about.guestbook.smiley" %></p>
        <% end %>
      </div>
      <div id="message_buttons">
        <%= link_to t("home.about.message.annie"), 'https://www.facebook.com/annie.mushegyan', class: 'more_about fade-page' %>
        <%= link_to t("home.about.message.rafid"), 'https://www.facebook.com/rafidhoda', class: 'more_about fade-page' %>
      </div>
    </div>
  </div>
  <!-- About END -->

  <% if I18n.locale == :ru %>
  <section style="background-color: #fbf8f2;" id="party">
   <div class="section_centered">

  		<div class="centered_title" style="margin-top: -40px">
  			<h2><%= I18n.t "home.wedding.title" %></h2>
        <center style="margin-top: 30px"><%= image_tag 'party.gif' %></center>
  		</div>

        <div id="some_details" class="about_section" style="margin-top: -30px">
            <p style="text-align: left"><%= I18n.t "home.wedding.text1" %></p>
            <p style="text-align: center"><strong><%= I18n.t "home.wedding.bold" %></strong><%= I18n.t "home.wedding.text2" %></p>
        </div>

        <div id="some_details" class="about_section">
          <h3 style="font-family: Lobster; font-size: 30px">Как добраться?</h3>
          <p><strong>Своим ходом</strong> на машине, используя грандиозные возможности беспроводных сетей и навигатор.</p>
          <p><strong>На электричке</strong> до станции Катуар (Савеловское направление), а от станции мы вас встретим.</p>
          <p><strong>На автобусе</strong> специально для гостей, который отправится в 17:30 от Сретенского бульвара.
Место встречи: Ул. Проспект Академика Сахарова д. 35. Ближайшее метро "Сретенский бульвар." Место посадки торец банка ВТБ, для ориентира на противоположной стороне улицы центральный офис Лукойла. Также автобус довезет вас обратно в то же место, выезжать будет в 23:00.</p>
        </div>

        <div id="some_details" class="about_section">
          <h3 style="font-family: Lobster; font-size: 30px">Формат и дрескод</h3>
          <p>Все будет очень просто и непафосно, не будет ведущего и конкурсов, но будет хорошая музыка и хорошие люди. Будут шашлыки и рыба на углях, свежие овощи и фрукты, красивые гирлянды и свежий воздух.
Лучше одеться во что-то легкое и воздержаться от высоких каблуков, потому что это все-таки не банкетный зал, а загородный дом с полянкой и беседкой. Но если вам очень хочется фрак и платье со шлейфом, то мы не будем вас останавливать :)
Пожалуйста, не тратьтесь на цветы, мы почти сразу уедем из Москвы не успеем ими полюбоваться. В остальном, делайте с собой что хотите, главное приезжайте!</p>
        </div>

   </div>
  </section>

  <div class="section_full nopadding" style="margin-top: -90px">
  <div id="map"></div>
  </div>


  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV97iquVzthZ4AgITvreLqvPyu-_jeCvI&callback=initMap">
  </script>
  <% end %>
</div>
