<header class="header">
  <div class="title_container">
       <div class="title_up"><%= t "home.hero.annie" %></div>
       <div class="title_down">&amp;<%= t "home.hero.rafid" %></div>
       <div class="title_date">09.08.2017</div>
  </div>
</header>


<div class="content">
  <!-- About START -->
  <div id="about_home" class="section_centered">
    <div class="centered_title">
      <h2><%= I18n.t "home.about.title.annie" %><span> & </span><%= I18n.t "home.about.title.rafid" %></h2>
      <p class="under_title_descr"><span><%= I18n.t "home.about.desc" %></span></p>
    </div>
    <div class="about_section">
      <div class="about_pic_container">
        <div class="about_pic">
          <%= image_tag 'together.jpg' %>
        </div>
      </div>
      <h3>ANNIE & RAFID</h3>
      <p style="text-align: left"><%= t "home.about.text" %></p>
      <%= link_to t("home.about.message.annie"), 'https://www.facebook.com/annie.mushegyan', class: 'more_about fade-page' %>
      <%= link_to t("home.about.message.rafid"), 'https://www.facebook.com/rafidhoda', class: 'more_about fade-page' %>
    </div>
  </div>
  <!-- About END -->

  <!-- Wedding Date START -->
  <section style="background-color: #fbf8f2;">
   <div class="section_centered">

  		<div class="centered_title">
  			<h2><%= I18n.t "home.wedding.title" %></h2>
  			<p class="under_title_descr"><span style="background: #fbf8f2"><%= I18n.t "home.wedding.desc" %></span></p>
  		</div>

        <div class="about_section" style="margin-top: -30px">
            <p><center><%= image_tag 'up.gif', style: "max-width: 500px; width: 100%" %></center></p>
            <p style="text-align: left"><%= I18n.t "home.wedding.text" %></p>

            <%= link_to t("home.wedding.rsvp"), '/rsvp', class: 'countdown_rsvp fade-page', style: 'margin-top: 10px' %>
        </div>
   </div>
  </section>
  <!-- Wedding Date END -->

  <!-- Gift START -->
  <div class="section_centered">
		<div class="centered_title">
			<h2><%= I18n.t "home.gift.title" %></h2>
			<p class="under_title_descr"><span><%= I18n.t "home.gift.desc" %></span></p>
		</div>

     <div class="about_section">
         <p><center><%= image_tag 'aladdin.gif', style: "max-width: 500px; width: 100%; margin-top: -30px" %></center></p>

         <%= link_to t("home.gift.button"), '/gift', class: 'countdown_rsvp fade-page', style: 'margin-top: 10px' %>
     </div>
  </div>
  <!-- Gift END -->

   <!-- Guestbook START -->

   <div id="photos_home" class="section_full">
   		<div class="centered_title">
   		<h2><%= I18n.t "home.guestbook.title" %></h2>
   		<p class="under_title_descr"><span><%= I18n.t "home.guestbook.desc" %></span></p>
   		</div>
           <div class="about_section" style="margin-top: -30px;">
             <p style="text-align: center"><%= I18n.t "home.guestbook.text" %></p>

             <p><center><%= image_tag 'loveit.gif', style: "max-width: 500px; width: 100%; margin-top: -20px" %></center></p>

              <%= link_to t("home.guestbook.button"), guestbook_path, class: 'countdown_rsvp fade-page', style: 'margin-top: 0px' %>
          </div>

   		<div class="clear"></div>
   </div>
   <!-- Guestbook END -->
