<div class="section_centered">

	 <div class="centered_title">
            <h2>OUR <span>lovely</span> WEDDING</h2>
            <p class="under_title_descr"><span>We're having the wedding party at an awesome venue</span></p>
         </div>

	<div class="full_width">
        <div class="imageblock-left">
		<div class="imageblock-img"><span></span><%= image_tag 'location.jpg' %></div>
		<div class="imageblock-text-right">
			<h2>Wedding Venue</h2>
			<p>The venue is a cottage on a plot of 75 acres, 20 km from Moscow to Dmitrov. There are 11 bedrooms, 34 beds, 3 bathrooms and a kitchen. There are 5 spaces for cars.</p>
			<span class="location_row_white">Moskova, Nekrasovsky</span>
			<span class="phone_row_white">+7 916 394-34-68</span>
	         </div>
	</div>
	</div>

<!--
              <div class="left12 infoblock">
				 <span class="uptitle">12:00-12:30</span>
			<h2>CHURCH CEREMONY</h2>
				 <div class="infoicon"><%= image_tag 'icons/church.png' %></div>
					<p>Love is friendship that has caught fire. It is quiet understanding, mutual confidence, sharing and forgiving. It is loyalty through good and bad times. It settles for less than perfection and makes allowances for human weaknesses.</p>
			<div class="read_more_paragraph"><a href="page.html" class="fade-page"><span>RSVP CEREMONY</span></a></div>
	       </div>
              <div class="left12_last infoblock">
				 <span class="uptitle">20:00-05:30</span>
			<h2>RESTAURANT PARTY</h2>
			<div class="infoicon"><%= image_tag 'icons/glasses.png' %></div>
					<p>We've got this gift of love, but love is like a precious plant. You can't just accept it and leave it in the cupboard or just think it's going to get on by itself. You've got to keep watering it. You've got to really look after it and nurture it.</p>
			<div class="read_more_paragraph"><a href="page.html" class="fade-page"><span>RSVP RESTAURANT</span></a></div>
	       </div>
              <div class="left12 infoblock">
			<span class="uptitle">25.07.2018</span>
			<h2>BACHELOR PARTY</h2>
			<div class="infoicon"><%= image_tag 'icons/gentlemens.png' %></div>
					<p>We've got this gift of love, but love is like a precious plant. You can't just accept it and leave it in the cupboard or just think it's going to get on by itself. You've got to keep watering it. You've got to really look after it and nurture it.</p>
			<div class="read_more_paragraph"><a href="page.html" class="fade-page"><span>JOIN</span></a></div>
	       </div>

              <div class="left12_last infoblock">
			<span class="uptitle">26.07.2018</span>
				<h2>BACHELORETTE PARTY</h2>
			<div class="infoicon"><%= image_tag 'icons/ladies.png' %></div>
					<p>Love is friendship that has caught fire. It is quiet understanding, mutual confidence, sharing and forgiving. It is loyalty through good and bad times. It settles for less than perfection and makes allowances for human weaknesses.</p>
			<div class="read_more_paragraph"><a href="page.html" class="fade-page"><span>JOIN</span></a></div>
	       </div> -->


</div><!-- End of content-->



<div class="section_full nopadding">
<div id="map"></div>
</div>


<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV97iquVzthZ4AgITvreLqvPyu-_jeCvI&callback=initMap">
</script>
