<div class="form_content_rsvp">
      <h3 class="form_toptitle" id="Note"></h3>
      <%= simple_form_for(@rsvp) do |f| %>
      <% if rsvp.errors.any? %>
    <div id="error_explanation">
      <h2 style="color: #ef6350"><%= I18n.t "rsvp.errors.please" %></h2>
    </div>
  <% end %>

  <center>
  <div class="form_section">

    <h6>Быть или не быть?</h6>
    <%= f.select :coming, [["Я приеду", true], ["Не смогу приехать", false]], class: "form_input required" %>

  </div>
  </center>


      <div class="form_section">
          <div class="form_row left14">
          <label><%= I18n.t "rsvp.form.first_name" %></label>
          <%= f.text_field :first_name, id: :rsvp_first_name, class: 'form_input required', placeholder: t("rsvp.form.first_name_placeholder") %>
          </div>
          <div class="form_row left14">
          <label><%= I18n.t "rsvp.form.last_name" %></label>
          <%= f.text_field :last_name, id: :rsvp_last_name, class: 'form_input required', placeholder: t("rsvp.form.last_name_placeholder") %>
          </div>
          <div class="form_row left14">
          <label><%= I18n.t "rsvp.form.email" %></label>
          <%= f.text_field :email, id: :rsvp_email, class: 'form_input required email', placeholder: t("rsvp.form.email_placeholder") %>
          </div>
          <div class="form_row left14_last">
          <label><%= I18n.t "rsvp.form.phone" %></label>
          <%= f.text_field :phone_number, id: :rsvp_phone_number, class: 'form_input required', placeholder: t("rsvp.form.phone_placeholder") %>
          </div>


  <center>
    <div class="form_section">
      <h6>Как поедете?</h6>
      <%= f.select :transportation, [["На машине", 0], ["На электричке", 1], ["На автобусе для гостей", 2]], class: "form_input required" %>
    </div>
  </center>



          <div class="form_row left12" style="margin-top: 30px">
          <label><%= I18n.t "rsvp.form.other_comments" %></label>
          <%= f.text_area :comments, id: :rsvp_comments, class: 'form_textarea_full', placeholder: t("rsvp.form.other_comments_placeholder") %>
          </div>
          <div class="form_row left12_last" style="margin-top: 50px">
            <label><%= I18n.t "rsvp.form.add_guests" %></label>
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th><%= I18n.t "rsvp.form.guests.first_name" %></th>
                  <th><%= I18n.t "rsvp.form.guests.last_name" %></th>
                </tr>
              </thead>
              <tbody class="fields">
                <%= f.simple_fields_for :guests do |builder| %>
                  <%= render 'guest', f: builder %>
                <% end %>
              </tbody>
            </table>
            <div class="">
              <%= link_to_add_row(t("rsvp.form.guests.add_guest_button"), f, :guests, class: 'simple_button fade-page') %>
            </div>
          </div>
     </div>
       <center>
         <%= f.submit t("rsvp.form.rsvp_button"), class: 'simple_button fade-page', style: "font-size: 20px" %>
       </center>
      <% end %>
</div>

<script>
$(document).on('turbolinks:load', function() {

  $('form').on('click', '.add_fields', function(event) {
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('tr').hide();
    return event.preventDefault();
  });

  $('form').on('click', '.add_fields', function(event) {
    var regexp, time;
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    $('.fields').append($(this).data('fields').replace(regexp, time));
    return event.preventDefault();
  });
});
</script>
