<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

<h3 style="text-align: center"><%= I18n.t "posts.post_a_message" %></h3>

  <div class="col-md-12">
    <div class="form-group">
      <label><%= I18n.t "posts.post" %></label>
      <%= f.text_area :body, class: 'form_textarea_full', placeholder: t("posts.post_placeholder") %>
    </div>

  <div class="form-group">
    <label style="margin-top: 30px"><%= I18n.t "posts.upload_picture" %></label>
   <%= f.file_field :post_image, id:"file-input" %>
  </div>

  <div class="form-group">
    <label><%= I18n.t "posts.name" %></label>
    <%= f.text_field :name, class: 'form_input required', placeholder: t("posts.name_placeholder") %>
  </div>

</div>

  <div class="form-actions">
    <center><%= f.submit t("posts.create_post"), class: 'simple_button fade-page', style: 'margin-top: 30px' %></center>
  </div>
<% end %>
