<div class="container text-center" style="margin-top: 100px">

<h1 style="font-family: Lobster; font-size: 50px"><%= I18n.t "posts.title" %></h1>

<h3><%= link_to t("posts.post_button"), new_post_path, class: 'countdown_rsvp fade-page', style: 'margin-top: 0px; padding: 20px 30px' %></h3>

<!-- Projects Row -->
  <div class="row" style="max-width: 500px; margin: 0 auto;">
    <% @posts.each do |post| %>
    <div class="col-md-12" style="margin-top: 40px">
      <div class="panel panel-default">
        <div class="panel-heading"><%= I18n.t "posts.posted_by" %> <%= post.name %></div>
        <div class="panel-body">
          <p style="margin-bottom: 10px"><%= post.body %></p>
          <% if post.post_image? %>
          <%= link_to post do %>
            <%= image_tag post.post_image(:large), style: "max-width: 440px; width: 100%" %>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <!-- /.row -->

  </div>
