<div class="container text-center" style="margin-top: 100px">

<p id="notice"><%= notice %></p>

<div class="row" style="max-width: 660px; margin: 0 auto;">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">Posted by <%= @post.name %> <%= time_ago_in_words(@post.created_at) %> ago</div>
      <div class="panel-body">
        <p style="margin-bottom: 10px"><%= @post.body %></p>
          <%= image_tag @post.post_image(:large) if @post.post_image? %>
        <!-- <h6 style="margin-top:10px; text-align: left">Annie Mushegyan <span style="font-weight: 400">Aw! We look so good)))</span></h6>
        <h6 style="margin-top:10px; text-align: left">Rafid Hoda <span style="font-weight: 400">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</span></h6> -->
        <a href="#" class="more_about fade-page">Add Comment</a>
      </div>
    </div>
  </div>
</div>

</div>
