<center><h2><%= I18n.t "charges.thanks" %> <strong><%= @orig_amount %></strong> <%= @gift.currency %></h2></center>

<div style="margin: 30px 5px;">
  <center><img src="https://www.annierafid.com/<%= @random_gif %>" style="max-width: 400px; width: 100%;"><br>
  <h3><%= link_to t("charges.back"), 'https://www.annierafid.com' %></h3></center>
</div>
