<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Annie & Rafid's Wedding</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Yeseva+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alice" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Clicker+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  </head>

  <body>
    <nav id="main_menu" class="menuwhite">
    	<ul>
    		<li><%= link_to t("navbar.home"), root_path, class: 'selected fade-page' %></li>
        <% if I18n.locale == :ru %>
          <li><%= link_to t("navbar.location"), '../ru/#party', class: 'fade-page' %></li>
        <% end %>
        <li><%= link_to t("navbar.guestbook"), guestbook_path, class: 'fade-page' %></li>
        <% if I18n.locale == :en %>
          <li><%= link_to t("navbar.russian"), locale: "ru" %></li>
        <% else %>
          <li><%= link_to "ENGLISH", locale: "en" %></li>
        <% end %>
    	</ul>
    </nav>
    <%= yield %>
    <div id="footer">
     <div class="section_centered">

       <div class="footer_centered_title">
         <h2 style="font-family: Lobster"><%= I18n.t "footer.annie" %> <span><%= I18n.t "footer.and" %></span> <%= I18n.t "footer.rafid" %></h2>
       </div>

       <div class="footer_rsvp">
         <h5 style="font-weight: 400"><%= I18n.t "footer.madewith" %> <i class="fa fa-heart" aria-hidden="true"></i> <%= I18n.t "footer.incities" %></h5>
       </div>

    </div>
    </div>

    <script type="text/javascript">
      $("#main_menu").menumaker({
      format: "multitoggle",
      sticky: true
      });
      </script>
      <script type="text/javascript">
      $( document ).ready(function() {
          var isMobile = window.matchMedia("only screen and (max-width: 1300px)");

          if (!isMobile.matches) {
             $('.block').smoove({offset:'2%'});
          }
       });
      </script>
  </body>
</html>
